<h4>Group <%= letter_by_position(round.position) %></h4>
<ul class="list-group">
  <% teams = round.teams.sort_by { |team| team.round_wins_count(round.id) }.reverse %>

  <% teams.each_with_index do |team, index| %>
    <%= render partial: 'teams/team', locals: { team: team, round_id: round.id, flew_out: flew_out?(index, teams.count) } %>
  <% end %>
</ul>
