<div class="container">
  <div class="row">
    <h2>Tournaments</h2>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <%= render @tournaments %>
      </tbody>
    </table>
  </div>

  <%= link_to 'Add tournament', new_tournament_path, class: 'btn btn-success' %>
  <%= link_to 'Generate tournament', fake_tournaments_path, method: :post, class: 'btn btn-primary' %>
</div>
