<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render @tournament.group_stage %>
    </div>

    <% if @tournament.group_stage.count < 2 %>
      <%= link_to 'Generate group result', tournament_groups_path(@tournament), method: :post, class: 'btn btn-success' %>
    <% end %>

    <% if @tournament.group_stage.count == 2 && @tournament.play_off.empty? %>
      <%= link_to 'Generate Play-Off result', tournament_playoffs_path(@tournament), method: :post, class: 'btn btn-success' %>
    <% end %>

    <%= render @tournament.play_off %>
  </div>
</div>
